<!-- {{ name }} Header -->
<header id="{{ name }}">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">intro-lead-in</div>
            <div class="intro-heading">{{ name }}</div>
            <a href="#service" class="page-scroll btn btn-xl">btn</a>
        </div>
    </div>
</header>
